!!!
%html
%head
  %title Yabber
  = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true
  %link{ rel:'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300', type: 'text/css'}
  %link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css"}
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %header.main_header.clearfix
    .wrapper
      #logo
        %p= link_to  "Yabber", root_path
      #buttons
        - if user_signed_in?
          = link_to "New Post", new_post_path
        -else
          = link_to "Sign up", new_user_registration_path
          = link_to "Login", new_user_session_path

  .wrapper
    %p.notice= notice
    %p.alert= alert

  .wrapper
    =yield
